<html>
    <head>
        <title>Online Fest</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css" >

        <%- include ("../partials/head") %>
        
        <!--NAVBAR-->

        <%- include ("../partials/nav") %>
    
        <!--EVENTS-->

        <%- include ("../partials/events") %>

        <!--REGISTER-->

        <%- include ("../partials/form") %>
        
        <!--ABOUT-->

        <%- include ("../partials/about") %>
            
        <!--EVENTLIST-->
        
        <%- include ("../partials/eventList") %>

        <!--CONTACT-->

        <%- include ("../partials/contact") %>
      
        <!--FOOTER-->

        <%- include ("../partials/footer") %>
        
        <!--jQuery's and scripts-->

        <%- include ("../partials/fscripts") %>

    